.DS_Store
.idea/
.env
.env.*
!.env.example
compose.override.yaml
auth.json
vendor/
node_modules/
public/build/
public/hot
public/storage
storage/pail/
storage/*.key
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
.phpactor.json
.phpunit.cache/
.phpunit.result.cache
.php-cs-fixer.php
.fleet/
.nova/
.vscode/
.zed/
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
docker/data/
